.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #282c34;
  width: 100%;
  height: 50vmax;
}

.alert {
  background-color: rgb(205, 255, 232);
  border: 1px solid greenyellow;
  color: rgb(38, 44, 28);
  height: fit-content;
  padding: 10px;
  z-index: 100;
  justify-content: center;
  margin: auto;
}
